.controll-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    display: flex;
    max-width: 900px;
}

.left-controll--wrapper {
    display: flex;
    flex-direction: column;
}

.right-controll--wrapper {
    display: flex;
    flex-direction: column;
}

.stopwatch {
    height: 30px;
    padding-top: 10px;
}