.App {
  height: 100vh;
}

.table-header {
  display: flex;
  width: 900px;
}

.table-header--second {
  overflow: hidden !important;
}

.table-header-first,
.grid-first {
  border-right: 2px solid gray;
}

.table-header-first {
  overflow: hidden !important;
}

.header-cell {
  background: cadetblue !important;
  color: black;
  font-weight: bold;
  border-bottom: 4px solid lightseagreen !important;
}

.grid-wrapper {
  width: 900px;
  display: flex;
}

.grid-first {
  overflow: hidden !important;
}

.table-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 1px solid gainsboro;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  border-bottom: 2px solid lightseagreen;
}

.dark-cell {
  background: #dee2e6;
}

.spinner {
  height: 100vh;
}
